<div class="pageInner-wrapper">
	<div class="banner-image" *ngIf="projectDetails">
		<img class="banner-image__mobile-image" [src]="projectDetails.imageMobile" alt="projectDetails.projectName">
		<img class="banner-image__web-image" [src]="projectDetails.imageLarge" alt="projectDetails.projectName">

		<div class="overlay">
			<img class="overlay__logo" *ngIf="projectDetails.logo" itemprop="logo" [src]="projectDetails.logo" alt="projectDetails.projectName" >
	  		<h1 class="overlay__title" *ngIf="!projectDetails.logo">{{projectDetails.projectName}}</h1>
	  		<h4 class="type-loc">{{projectDetails.category}}</h4>
	  	<!-- 	<h4 class="overlay_location-label">LOCATION:</h4>
	  		<p class="overlay_location">{{projectDetails.location}}</p> -->
	  		<!-- <p class="type-loc">{{projectDetails.category}}<br />{{projectDetails.location}}</p> -->
		</div>

		
	</div>
	<div class="details" *ngIf="projectDetails">

		<div class="details__video" *ngIf="projectDetails.video && displayVideo">
			<span class="close" (click)="closeVideo()">&times;</span>
			<iframe class="details__video--video-frame" [src]="projectDetails.video" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
		</div>

		<div class="details__location" *ngIf="projectDetails.location">
			<h4>LOCATION</h4>
			<p>{{projectDetails.location}}</p>
			<iframe class="details__location--map-frame" *ngIf="projectDetails.googleMap" [src]="projectDetails.googleMap"  frameborder="0" allowfullscreen></iframe>
		</div>

		<div class="details__description" *ngIf="projectDetails.description || projectDetails.longDescription">
			<h4>DESCRIPTION</h4>
			<div [innerHTML]="projectDetails.longDescription || projectDetails.description"></div>
		</div>

		<div class="details__land-area" *ngIf="projectDetails.landArea">
			<h4>LAND AREA</h4>
			<p>{{projectDetails.landArea}}</p>
		</div>

		<div class="details__unit-range" *ngIf="projectDetails.unitRange && projectDetails.unitRange.length > 0">
			<h4>UNIT RANGE</h4>
			<p>(approx sizes only)</p>
			<p class="details__unit-range--ranges" *ngFor=" let unitRange of projectDetails.unitRange">{{unitRange}}</p>
		</div>

		<div class="details__lot-range" *ngIf="lotRange && lotRange.length > 0">
			<h4>LOT RANGE</h4>
			<p>(approx sizes only)</p>
			<p class="details__lot-range--ranges" *ngFor=" let range of lotRange">{{range}}</p>
		</div>


		<div class="details__plan-type" *ngIf="planType && planType.length > 0">
			<h4>PLAN TYPE</h4>
			<p>(approx sizes only)</p>
			<p class="details__plan-type--type" *ngFor=" let type of planType">{{type}}</p>
		</div>


		<div class="details__price-range">
			<h4>PRICE RANGE</h4>
			<p>Price is available upon <a class="details__price-range--request" href="mailto:youremail@address.com">request</a>.</p>
		</div>

		<div class="details__amenities" *ngIf="amenities && amenities.length > 0">
			<h4>FEATURES & AMENITIES</h4>
			<!-- <select>
				<option *ngFor="let item of carouselOptions" [ngValue]="item"></option>
			</select> -->


			<div class="accordion">

			  <div class="card" *ngFor="let amen of amenities;let i = index; let first = first;">
			    <div class="card-header">
			      <a class="card-link" data-toggle="collapse" href="#collapseOne{{i}}">
			        {{amen.header | uppercase}}
			      </a>
			    </div>
			    <div id="collapseOne{{i}}" class="collapse" [class.show]="first" data-parent=".accordion">
			      <div class="card-body">
			        <ul>
			        	<li *ngFor="let data of amen.data">{{data}}</li>
			        </ul>
			      </div>
			    </div>
			  </div>
			</div>
			
		</div>

		<div class="details__gallery" *ngIf="gallery && gallery.length > 0">
			<h4>GALLERY</h4>
			<sync-carousel [gallery]="gallery" [projectName]="projectDetails.projectName"></sync-carousel>	
		</div>

		<div class="details__facade" *ngIf="facade && facade.length > 0">
			<h4>FACADE/LOCATION</h4>
			<preview-carousel [items]="facade" [projectName]="projectDetails.projectName" name="FACLOCATION"></preview-carousel>
		</div>

<!-- 		<div class="details__floorplans">
			<h4>GALLERY</h4>
			<sync-carousel [gallery]="projectDetails.gallery" [projectName]="projectDetails.projectName"></sync-carousel>	
		</div> -->

		<div class="details__unitplans" *ngIf="unitPlan && unitPlan.length > 0">
			<h4>UNIT PLANS</h4>
			<preview-carousel [items]="unitPlan" [projectName]="projectDetails.projectName" name="UNITPLANS"></preview-carousel>
		</div>

		<div class="details__constructionUpdates" *ngIf="constructionUpdates && constructionUpdates.length > 0">
			<h4>Construction Updates</h4>
			<img class="details__constructionUpdates--images" [src]="cons" *ngFor="let cons of constructionUpdates" [alt]="projectDetails.projectName" (click)="showImageModal(cons, 'ConstructionUpdates')">
		</div>
	</div>
</div>

<preview-modal [image]="imageToShowModal" [projectName]="projectName" name="ConstructionUpdates"></preview-modal>