<div class="footer">
    <div class="agent-wrapper">
    	<div class="agent-wrapper__image">
    		<img class="agent-wrapper__image--agent-avatar" [src]="agent.avatar" [alt]="agent.name">
    	</div>
    	<div class="agent-wrapper__info">
    		<h5 class="name">{{agent.name}}</h5>
		    <p class="info title">{{agent.title}}</p>
		    <p class="info number">{{agent.mobileNumber}}</p>
		    <p class="info email">{{agent.email}}</p>
    	</div>
    </div>

    <!-- <div class="desc-wrapper">
    	<h4 class="desc-wrapper--header">WELCOME HOME TO LIVING WELL</h4>
    	<p>Every Alveo Land development — vibrant neighborhoods, groundbreaking living solutions, masterplanned communities — nurtures individuals and hard-earned investments with a singular vision: giving you a place for living well.</p>
    </div> -->

    <br/>

    <div class="disclaimer">
        <p>© 2018 Copyright by XXXXXXXXXXXXXXXX. All Rights Reserved. </p>
        <p>This is not the official website of Alveo Land Corp.</p>        
    </div>
</div>